---
BasedOnStyle: Chromium
BreakBeforeBraces: Mozilla
Cpp11BracedListStyle: false
IndentPPDirectives: AfterHash
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Right
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AttributeMacros: [ PORT_ISR_SAFE PORT_PERSIST_SLEEP ]
AlignConsecutiveDeclarations:
    Enabled: true
AlignConsecutiveMacros:
    Enabled: true